<%-include("header")%>
<style>
     
    
    @media(min-width:750px) {
        .container-fluid{
        position: absolute;
        left: calc(50% - 600px); 
        top: calc(50% - 10rem)

    } 
    }
</style>
<div class="cart-table-area">
    <center>
        <div class="container-fluid">
        <h1 style="font-size: 10rem ;">
            404 
        </h1>
        <p>
            the page requested not found
        </p>

    </div>
</center>
</div>
<%-include("footer")%>